<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.order.mapper.HapOrgCompanyMapper">

   <resultMap id="BaseResultMap" type="hbi.core.order.dto.HapOrgCompanys" extends="com.hand.hap.mapper.StdMapper.STD">
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="company_number" property="companyNumber" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
    </resultMap> 
	
	<select id="selectByCompany" parameterType="hbi.core.order.dto.HapOrgCompanys" resultMap="BaseResultMap">
		select company_id,
			company_number,
			company_name 
			from hap_org_companys
		<where>
        	<if test="companyId != null">
                AND company_id = #{companyId,jdbcType=DECIMAL}
            </if>
            <if test="companyNumber != null">
                AND company_number like #{companyNumber,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null">
                AND company_name like #{companyName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!--
     <insert id="insertFruit" parameterType="hbi.core.demo.dto.Fruit" useGeneratedKeys="true" keyProperty="fruitId" >
    
    INSERT INTO fruit_b
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fruitId != null" >
        FRUIT_ID,
      </if>
      <if test="fruitName != null" >
        FRUIT_NAME,
      </if>
      <if test="fruitDescription != null" >
        FRUIT_DESCRIPTION,
      </if>
      <if test="fruitCode != null" >
        FRUIT_CODE,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fruitId != null" >
        #{fruitId,jdbcType=DECIMAL},
      </if>
      <if test="fruitName != null" >
        #{fruitName,jdbcType=VARCHAR},
      </if>
      <if test="fruitDescription != null" >
        #{fruitDescription,jdbcType=VARCHAR},
      </if>
      <if test="fruitCode != null" >
        #{fruitCode,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
    
    <update id="updateFruit" parameterType="hbi.core.demo.dto.Fruit" >
    update fruit_b
    <set >
      <if test="fruitName != null" >
        FRUIT_NAME = #{fruitName,jdbcType=VARCHAR},
      </if>
      <if test="fruitCode != null" >
        FRUIT_CODE = #{fruitCode,jdbcType=VARCHAR},
      </if>
      <if test="fruitDescription != null" >
        FRUIT_DESCRIPTION = #{fruitDescription,jdbcType=VARCHAR},
      </if>
       <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=DATE},
      </if>
    </set>
    where FRUIT_ID = #{fruitId,jdbcType=DECIMAL}
  </update>
  
  <delete id="deleteFruit" parameterType="hbi.core.demo.dto.Fruit" >
    delete from fruit_b 
    where FRUIT_ID= #{fruitId,jdbcType=DECIMAL}
  </delete>  -->
</mapper>